{% extends "base.html" %}

{% block content %}

<div class="mainWrapper">
<h1 class="title">AAAAA</h1>
<div id="palette">
  {% set colors = ["#000000", "#FFFFFF", "#FF0000", "#bfff00", "#000080", "#FFFF00", "#00FFFF", "#FFCBDB" ] %}

  {% set colorTest = {"black": "#000000", "white": "#FFFFFF", "red": "#FF0000", "lime": "#bfff00", "navy": "#000080", "yellow": "#FFFF00", 
  "cyan": "#00FFFF", "pink": "#FFCBDB" } %}


  {% for x in colorTest %}
  <div class="pen" style="background-color:{{ x }};" onclick="setPenColour('{{ x }}')"></div>
  {% endfor %}
</div>

<div class="wrapper">
  <div id="art">
    {% for i in range(0,64) %}
    <div class="pixel" id="{{ loop.index }}" 
    onclick="setPixelColour(this)"></div>
    {% endfor %}
    
  </div>
</div>
  <input type="hidden" id="" name="" value="">
  <button id="demo_btn" onclick="sendDraw()">SEND</button>  
<br>

  <div class="">
    <div class="drawsContainer">
      {% set draws = ["Kirby", "PipBoy", "Alien", "Skull"] %}
      {% for i in range(draws|length) %}
        <div class="" id="{{ draws[i] }}" onclick="getDraw">{{ draws[i] }}"</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}