{% extends "base.html" %}

{% block content %}

<div class="mainWrapper">
<h1 class="title">Pixel draw</h1>

<div class="actualColor"> 
  <div id="actualColor" class="pen"></div>
</div>

<div id="palette">
  {% set colorTest = {"maroon": "#800000", "brown": "#A52A2A", "sienna": "#A0522D", "chocolate": "#D2691E" ,"crimson": "#DC143C", "red": "#ff0000", "salmon": "#FA8072","darkorange": "#FF8C00", "orange": "#ffA5000", "yellow": "#FFFF00", "khaki": "#F0E68C", "olive": "#808000", "purple": "#800080", 
  "fuchsia": "#ff00ff", "hotpink": "#FF69B4", "pink": "#FFC0CB", "white": "#ffffff", "greenyellow": "#ADFF2F", "green": "#008000", "navy": "#000080", "blue": "#0000ff", "aqua": "#00ffff", "teal": "#008080",
  "silver": "#808080"} %}

  {% for x, y in colorTest.items() %}
  <div class="pen" style="background-color:{{ x }};" onclick="setPenColour('{{ x }}')"></div>
  {% endfor %}
</div>

<div class="wrapper">
  <div id="art">
    {% for i in range(0,64) %}
    <div class="pixel" id="{{ loop.index }}" 
    onclick="setPixelColour(this)" style="background-color: blank;"></div>
    {% endfor %}
    
  </div>
</div>

<div id="buttonList" class="buttons">
  <input type="hidden" id="" name="" value="">
  <button id="addButton" class="button" onclick="addDraw()">+</button>
  <button class="button" onclick="selectDraw(this)">1</button>
</div>
<div class="buttons">
  <input type="hidden" id="" name="" value="">
  <button class="button is-light" id="draw_btn" onclick="sendDraw()">SEND</button>
  <button class="button">REMOVE</button>
  <button class="button" onclick="saveDraw()">SAVE DRAW</button>
</div>
{% endblock %}